.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
#close {
  margin-left: 10px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.setIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}
