<ion-header>
  <ion-toolbar>
    <span slot="start" id="close" (click)="closeModal()"
      ><ion-icon name="close"></ion-icon
    ></span>
    <ion-title>Password Recovery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="recoveryStatus==0">
    <ion-item mode="md">
      <ion-label position="floating">Username</ion-label>
      <ion-input
        placeholder="Enter Username"
        [(ngModel)]="Username"
      ></ion-input>
    </ion-item>
    <span class="btn">
      <ion-button (click)="recover()">Proceed</ion-button>
    </span>
  </ion-card>
  <ion-card *ngIf="recoveryStatus==1">
    <ion-row size="12" mode="md">
      <ion-col size="10">
        <ion-item mode="md">
          <ion-label position="floating">Create password</ion-label>
          <ion-input
            type="{{showPass}}"
            [(ngModel)]="newPass"
            placeholder="Enter Password"
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="2" class="setIcon" (click)="showhidePass()">
        <ion-icon name="{{changeIcon}}"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-item mode="md">
      <ion-label position="floating">Confirm password</ion-label>
      <ion-input
        type="password"
        [(ngModel)]="confirmPass"
        placeholder="confirm Password"
      ></ion-input>
    </ion-item>
    <span class="btn">
      <ion-button (click)="recover()">Proceed</ion-button>
    </span>
  </ion-card>
</ion-content>
