<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <span slot="start" id="close" (click)="closeModal()"
      ><ion-icon name="close"></ion-icon
    ></span>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label position="floating">Create Username</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="newUser"
        placeholder="*used for login"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Enter Mobile Number</ion-label>
      <ion-input
        type="tel"
        [(ngModel)]="newMob"
        placeholder="Enter Mobile number"
      ></ion-input>
    </ion-item>
    <ion-row size="12">
      <ion-col size="10">
        <ion-item>
          <ion-label position="floating">Create password</ion-label>
          <ion-input
            type="{{showPass}}"
            [(ngModel)]="newPass"
            placeholder="Enter Password"
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="2" class="setIcon" (click)="showhidePass()">
        <ion-icon name="{{changeIcon}}"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-item>
      <ion-label position="floating">Confirm password</ion-label>
      <ion-input
        type="password"
        [(ngModel)]="confirmPass"
        placeholder="confirm Password"
      ></ion-input>
    </ion-item>
  </ion-card>
  <span class="btn">
    <ion-button (click)="register()">Submit</ion-button>
  </span>
</ion-content>
