<ion-content [fullscreen]="true">
  <span style="display: flex; align-items: center; justify-content: center">
    <img class="Avatar" src="/assets/images/Amoled_ava.png" alt="" />
  </span>
  <!-- <ion-card class="skillCard" *ngFor="let Name of mainArray">
    <ion-row>
      <ion-col size="4">
        <ion-item lines="none"><strong>{{Name.Name}}</strong></ion-item>
      </ion-col>
      <ion-col size="8" id="expertise">
        <ion-progress-bar
          class="prog"
          value="{{Name.Value}}"
        ></ion-progress-bar>
        <span id="skillVal">{{Name.Value*100}}%</span>
      </ion-col>
    </ion-row>
  </ion-card> -->

  <h1 class="heading">Login</h1>
  <ion-card>
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input
        placeholder="Enter Username"
        [(ngModel)]="Username"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input
        placeholder="Enter Password"
        [(ngModel)]="Password"
      ></ion-input>
    </ion-item>
  </ion-card>
  <span class="btn">
    <ion-button (click)="Login()">Proceed</ion-button>
  </span>
  <div>
    <span class="btn" style="flex-direction: column; margin-top: 10px">
      <span style="color: white">Not Registered?</span>
      <ion-button style="margin-top: 16px" (click)="SignUp()"
        >Sign Up</ion-button
      >
    </span>
  </div>
</ion-content>
